/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* V1-13 CSS starts here */

.info-numbers {
    background-color: #edf3f8;
}
.mobile-img {
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 0;
}

.divider {
    width: 100%;
    height: 1px;
    width: 327px;
    background-color: #36536B;
    margin: 48px auto 17px;
    opacity: .25;
}

.info-numbers {
    width: 100%;
    max-width: 375px;
}

.text_team_members {
    text-align: center;
    letter-spacing: 0px;
    color: #36536B;
    opacity: 0.7;
    height: 21px;
    width: 327px;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 100;
}

.text_number {
    text-align: center;
    letter-spacing: -0.43px;
    color: #BA4270;
    height: 77px;
    width: 327px;
    text-align: center;
    margin-top: 21px;
    line-height: 72x;
    font-family: 'DM Serif Display', serif;
    font-size: 56px;
    font-weight: 100;
    margin: 21px auto 13px;
}

.text_number_last {
    text-align: center;
    letter-spacing: -0.43px;
    color: #BA4270;
    height: 77px;
    width: 327px;
    text-align: center;
    margin-top: 21px;
    line-height: 72x;
    font-family: 'DM Serif Display', serif;
    font-size: 56px;
    font-weight: 100;
    margin: 21px auto 0px;
}



.text_Offices_in_the_US {
    text-align: center;
    letter-spacing: 0px;
    color: #36536B;
    opacity: 0.7;
    height: 21px;
    width: 327px;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
}

.divider-text {
  display: flex;
  align-items: center;
  max-width: 375px;
  margin: 17px auto; 
  flex-direction: column;
}
.divider_last {
    width: 100%;
    height: 1px;
    width: 327px;
    background-color: #36536B;
    margin: -2px auto 0px;
    opacity: .25;
}

/* V1-13 CSS ends herec */