/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;700&display=swap");

/* Header import*/
@import url("header.css");

/* Demo section import */
@import url("demo-section.css");

/* Footer import */
@import url("footer.css");

/* Mobile desing 375px */

/* About section styles starts here */

.about_section {
  background-color: #edf3f8;
  overflow: hidden;
}

.about_text_container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 24px;
}

.about_main_title {
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.25px;
  text-align: center;
  color: #36536b;
  margin-bottom: 44px;
  height: 152px;
}

.about_title {
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-align: center;
  color: #36536b;
  margin-bottom: 8px;
}

.about_text_vision {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6c8294;
  margin-bottom: 63px;
}

.about_text_business {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6c8294;
  height: 160px;
  margin-bottom: 84px;
}

.about_text_culture {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6c8294;
  margin-bottom: 63px;
  height: 188px;
}

.about_text_people {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6c8294;
  height: 104px;
  margin-bottom: 59px;
}

/* About section styles ends here */

/* Info numbers section starts here */

.info-numbers {
  background-color: #edf3f8;
}

.mobile-img {
  width: 100%;
  height: 300px;
  display: block;
  margin: 0 0;
}

.divider {
  width: 100%;
  height: 1px;
  width: 327px;
  background-color: #36536b;
  margin: 48px auto 17px;
  opacity: 0.25;
}

.info-numbers {
  width: 100%;
}

.text_team_members {
  text-align: center;
  letter-spacing: 0px;
  color: #36536b;
  opacity: 0.7;
  height: 21px;
  width: 327px;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 100;
}

.text_number {
  text-align: center;
  letter-spacing: -0.43px;
  color: #ba4270;
  height: 77px;
  width: 327px;
  text-align: center;
  margin-top: 21px;
  line-height: 72x;
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  font-weight: 100;
  margin: 21px auto 13px;
}

.text_number_last {
  text-align: center;
  letter-spacing: -0.43px;
  color: #ba4270;
  height: 77px;
  width: 327px;
  text-align: center;
  margin-top: 21px;
  line-height: 72x;
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  font-weight: 100;
  margin: 21px auto 0px;
}

.text_Offices_in_the_US {
  text-align: center;
  letter-spacing: 0px;
  color: #36536b;
  opacity: 0.7;
  height: 21px;
  width: 327px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
}

.divider-text {
  display: flex;
  align-items: center;
  max-width: 375px;
  margin: 17px auto 0px;
  flex-direction: column;
}

.divider_last {
  width: 100%;
  height: 1px;
  width: 327px;
  background-color: #36536b;
  margin: -2px auto 55px;
  opacity: 0.25;
}

/* Info numbers section ends here */

/* Mobile desing ends here */

/* Tablet design starts here */

@media (min-width: 768px) {
  /* about section starts here */

  .about_text_container {
    max-width: 689px;
    padding: 0;
  }

  .about_main_title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
    width: 569px;
    height: 178px;
    margin: 0 auto 48px;
  }

  .about_info {
    display: flex;
  }

  .about_title {
    width: 233px;
    font-size: 32px;
    text-align: left;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin: 8px 0 0;
  }

  .about_text_vision,
  .about_text_business,
  .about_text_culture,
  .about_text_people {
    width: 456px;
    text-align: left;
    letter-spacing: -0.37px;
  }

  .about_text_vision,
  .about_text_culture {
    height: 132px;
    margin-bottom: 72px;
  }

  .about_text_business {
    height: 104px;
    margin-bottom: 100px;
  }

  .about_text_people {
    height: 76px;
    margin-bottom: 100px;
  }
}
