@import url("index.css");

/* partners section */

.partners-contact {
  padding-bottom: 83px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 327px;
}

.partners-contact__header {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: -0.18px;
  text-align: center;
  color: #36536b;
  opacity: 75%;
  height: 97px;
}
