/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Footer import */
@import url("footer.css");

/* Partners section logos stylings from index.css */
@import url("index.css");

.main {
  background-color: #edf3f8;
}

/* Main section: contact */

.contact {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  text-align: center;
  letter-spacing: -0.25px;
  color: #36536b;
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  padding-bottom: 37px;
  line-height: 38.6px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.contact__input,
.contact__textarea {
  background-color: #edf3f8;
  border: none;
  width: 100%;
}

.contact__textarea {
  height: 90px;
}

.contact__field {
  border-bottom: 1px solid rgba(54, 83, 107, 0.5);
  padding: 0px 58px 14px 20px;
  width: 327px;
  height: 42px;
}

.textarea {
  height: 89px;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  color: #36536b;
  opacity: 0.5;
}

.contact__textarea {
  height: 88px;
  resize: none;
}

.contact__input:focus,
.contact__textarea:focus {
  outline: none;
}

.contact__field--check {
  display: flex;
  gap: 26px;
  align-items: center;
}

.contact__checkbox--title {
  letter-spacing: -0.12px;
  color: #36536b;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
}

.contact__checkbox {
  width: 24px;
  height: 24px;

  flex-shrink: 0;

  appearance: none;
  -webkit-appearance: none;

  position: relative;

  background-color: #36536b;
  opacity: 0.25;
}

.contact__checkbox:checked {
  background-color: #ba4270;
  opacity: 1;
}

.contact__checkbox:checked::after {
  content: "";
  position: absolute;

  width: 10px;
  height: 6px;

  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;

  transform: rotate(-45deg);

  top: 50%;
  left: 50%;
  translate: -50% -55%;
}

.contact__checkbox:disabled {
  background-color: #36536b;
  opacity: 0.05;
}

.contact__btn {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: #36536b;
  align-self: flex-start;

  border: 1px solid #36536b;
  border-radius: 24px;

  width: 152px;
  height: 48px;

  margin-top: 5px;
  margin-bottom: 87px;
}

/* form validation styles */

.contact__input--invalid::placeholder {
  color: #ff0000;
}

.contact__field:has(.contact__input--invalid) {
  border-color: rgba(255, 0, 0, 0.5);
}

.contact__error {
  color: #ff0000;
  opacity: 50%;
  font-family: "Public Sans", sans-serif;
  font-size: 11px;
  letter-spacing: -0.08px;
  line-height: 15px;
  margin: 8px 0 0 20px;
}

/* partners section */

.partners-contact {
  padding-bottom: 83px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 327px;
}

.partners-contact__header {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: -0.18px;
  text-align: center;
  color: #36536b;
  opacity: 75%;
  height: 97px;
}

/* Tablet design: 768px */

@media (min-width: 768px) {
  /* Tablet demo section css */

  .demo {
    padding-bottom: 100px;
    gap: 24px;
  }

  .demo__title {
    font-size: 48px;
    letter-spacing: -0.37px;
    width: 445px;
    height: 66px;
    margin: 0 auto;
  }

  .demo__form {
    position: relative;
    width: 445px;
    margin-inline: auto; /* works the same way as margin: 0 auto */
    display: block;
  }

  .demo__email {
    width: 100%;
    height: 48px;
    padding-left: 27px;
    padding-right: 190px;
  }

  .demo__button {
    position: absolute;
    right: 0;
    width: 173px;
    height: 48px;
  }

  /* Tablet demo sectio css ends here */
}
