/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Header import */
@import url("header.css");

/* Demo section import */
@import url("demo-section.css");

/* Partners logo styling css */
@import url("partners-logos.css");

/* Footer import */
@import url("footer.css");

/* Mobile design 375px */

/* Top buble decorations starts here */

.page-top {
  position: relative;
  background-color: #edf3f8;
  overflow: hidden;
  isolation: isolate;
}

.page-top::before {
  content: "";
  position: absolute;
  top: -644px;
  left: 74px;
  width: 780px;
  height: 780px;

  background: url("../assets/shared/desktop/bg-pattern-circle.svg") no-repeat;
  background-size: 780px 780px;

  pointer-events: none;
  z-index: -1;
}

.page-top .header,
.page-top .main {
  background-color: transparent;
}

.header,
.main {
  background-color: transparent;
}

/* Top buble decorations ends here */

/* Contact section styles starts here */

.contact {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  text-align: center;
  letter-spacing: -0.25px;
  color: #36536b;
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  padding: 17px 0 37px;
  line-height: 38.6px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.contact__wraper {
  height: 42px;
}

.contact__input,
.contact__textarea {
  background-color: #edf3f8;
  border: none;
  width: 100%;
}

.contact__input {
  line-height: 20px;
}

.contact__textarea {
  height: 90px;
}

.contact__field {
  border-bottom: 1px solid rgba(54, 83, 107, 0.5);
  padding: 0px 58px 14px 20px;
  width: 327px;
  height: 42px;
  color: #36536b;
}

.contact__field:hover,
.contact__field:focus,
.contact__field:has(.contact__input:hover),
.contact__field:has(.contact__input:focus) {
  border-color: #36536b;
}

.contact__field,
.contact__checkbox {
  cursor: pointer;
}

.textarea {
  height: 89px;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  color: #36536b;
  opacity: 0.5;
  letter-spacing: -0.12px;
}

.contact__textarea {
  height: 88px;
  resize: none;
}

.contact__input:focus,
.contact__textarea:focus {
  outline: none;
}

.contact__field--check {
  display: flex;
  gap: 26px;
  align-items: center;
}

.contact__checkbox--title {
  letter-spacing: -0.12px;
  color: #36536b;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
}

.contact__checkbox {
  width: 24px;
  height: 24px;

  flex-shrink: 0;

  appearance: none;
  -webkit-appearance: none;

  position: relative;

  background-color: #36536b;
  opacity: 0.25;
}

.contact__checkbox:checked {
  background-color: #ba4270;
  opacity: 1;
}

.contact__checkbox:checked::after {
  content: "";
  position: absolute;

  width: 10px;
  height: 6px;

  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;

  transform: rotate(-45deg);

  top: 50%;
  left: 50%;
  translate: -50% -55%;
}

.contact__checkbox:disabled {
  background-color: #36536b;
  opacity: 0.05;
}

.contact__btn {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: #36536b;
  align-self: flex-start;
  border: 1px solid #36536b;
  border-radius: 24px;
  width: 152px;
  height: 48px;
  margin-top: 5px;
  margin-bottom: 87px;
  transition: all 200ms ease-in;
}

.contact__btn:hover {
  background-color: #36536b;
  color: #fbfcfe;
}

/* Contact section styles ends here */

/* Form validation styles starts here */

.contact__input--invalid::placeholder {
  color: #ff0000;
}

.contact__field:has(.contact__input--invalid),
.contact__field:has(.contact__input--invalid:hover),
.contact__field:has(.contact__input--invalid:focus) {
  border-color: rgba(255, 0, 0, 0.5);
}

.contact__error {
  color: #ff0000;
  opacity: 50%;
  font-family: "Public Sans", sans-serif;
  font-size: 11px;
  letter-spacing: -0.08px;
  line-height: 15px;
  margin: 8px 0 0 20px;
}

/* Form validation styles ends here */

/* Partners section styles starts here */

.partners-contact {
  padding-bottom: 83px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 327px;
}

.partners-contact__header {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: -0.18px;
  text-align: center;
  color: #36536b;
  opacity: 75%;
  height: 97px;
  width: 327px;
}

/* Partners section styles ends here */

.contact__title__desktop {
  display: none;
}


.demo_desktop {
  display:none;
}
.partners-contact__header_tablet {
  display: none;
}
/* Mobile design ends here */

/* Tablet design: 768px */

@media (min-width: 768px) {
  /* Top buble decoration starts here*/
.partners-contact__header {
  display: none;
}
  .page-top::before {
    top: -464px;
    left: 505px;
    width: 780px;
    height: 780px;

    background-size: 780px 780px;
  }

  /* Top buble decoration ends here*/

  /* Tablet demo contact form section css */

  .contact__title {
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: -0.37px;
    width: 543px;
    height: 178px;
    padding: 0;
    margin: 85px 0 44px;
  }

  .contact__field,
  .contact__field--check {
    width: 445px;
    line-height: 1.17;
  }

  .contact__checkbox--title {
    line-height: 25px;
    height: 45px;
    letter-spacing: -0.35px;
  }

  .contact__btn {
    margin-bottom: 71px;
  }

  /* Tablet partners contact form section start css */

  .partners-contact {
    background-color: #edf3f8;
    place-items: center;
    width: 768px;
    padding-bottom: 0;
    gap: 2rem;
  }

  .logos {
    margin-bottom: 106px;
  }

  .partners-contact__header_tablet {
    display: block;
    width: 445px;
    height: 65px;
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: -0.18px;
    color: #36536b;
    opacity: 75%;
  }
}

/* */ 



/* Tablet partners contact form section end css*/

/* Desktop design starts here */

@media (min-width: 1440px) {
  /* Top buble decoration starts here*/

  .page-top::before {
    top: -527px;
    left: 800px;
    width: 780px;
    height: 780px;

    background-size: 780px 780px;
  }

  .contact__title {
    display: none;
  }

  .contact__title__desktop {
    margin: 0px;
    width: 730px;
    height: 133px;
    display: block;
    font-size: 56px;
    letter-spacing: -.43px;
    line-height: 56px;
    text-align: left;
    color: #36536B;
    margin: 80px 0 45px 165px;
    font-family: "DM Serif Display", serif;
  }

  main {
    display: flex;
    flex-direction: row;
    gap:124px;
  }

  .partners-contact__header_tablet {
    margin-top: 100px;
  }

  .partners-contact {
    margin : 0px;
  }

  .partners-contact__header {
    margin: 0px;
    width: 445px;
    height: 65px;
    text-align: left;
  }

  .partners-contact__header_tablet {
    margin-top: 174px;;
  }
  .demo {
    display: none;
  }

  .demo_desktop {
    background-color: #edf3f8;
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
  }
    .demo__title {
      margin: 0 220px 0 165px;
      height: 66px;
      text-align: left;
    }

  .partners-contact {
    background-color: transparent;
    width: 541px;
    height: 201px;
  }

    .contact {
      padding:0;
      margin: 0 0 0 165px;
    }

    .contact__field {
      padding: 0 58px 21px 20px;
    }

}