/* Footer styles */
.footer {
  background-color: #1b262f;
}
.footer__container {
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 134px;
  height: 37px;
  color: #fbfcfe;
  margin-bottom: 40px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.footer__nav > a {
  font-size: 15px;
  font-weight: bold;
  font-family: "Public Sans", sans-serif;
  color: #fbfcfe;
  opacity: 0.7;
  text-align: center;
}

.footer__social {
  display: flex;
  gap: 24px;
  margin-bottom: 55px;
}
