/* Footer styles */
.footer {
  background-color: #1b262f;
}
.footer__container {
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 134px;
  height: 37px;
  color: #fbfcfe;
  margin-bottom: 40px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.footer__nav > a {
  font-size: 15px;
  font-weight: bold;
  font-family: "Public Sans", sans-serif;
  color: #fbfcfe;
  opacity: 0.7;
  text-align: center;
  line-height: 17px;
  letter-spacing: 0;
}

.footer__social {
  display: flex;
  gap: 24px;
  margin-bottom: 55px;
}

@media (min-width: 768px) {
  .footer {
    height: 100px;
    display: flex;
    align-items: center;
  }

  .footer__container {
    flex-direction: row;
    padding: 0 40px;
    align-items: center;
  }

  .footer__logo {
    margin-right: 64px;
  }

  .footer__nav {
    flex-direction: row;
    margin-right: 138px;
  }

  .footer__logo,
  .footer__nav,
  .footer__social {
    margin-bottom: 0;
  }
}
