/* Footer styles */
.footer {
  position: relative;
  background: #1b262f url("../assets/shared/desktop/bg-pattern-circle.svg")
    no-repeat 50% 177px;
}
.footer__container {
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 134px;
  height: 37px;
  color: #fbfcfe;
  margin-bottom: 40px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.footer__nav > a {
  font-size: 15px;
  font-weight: bold;
  font-family: "Public Sans", sans-serif;
  color: #fbfcfe;
  opacity: 0.7;
  text-align: center;
  line-height: 17px;
  letter-spacing: 0;
  transition: all 0.2s ease-in-out;
}

.footer__nav > a:hover,
.footer__nav > a:focus {
  opacity: 1;
}

.footer__social {
  display: flex;
  gap: 24px;
  margin-bottom: 55px;
  color: #fbfcfe;
}

.footer__social-link {
  transition: all 0.2s ease-in;
}

.footer__social-link:hover,
.footer__social-link:focus {
  color: #da6d97;
}

@media (min-width: 768px) {
  .footer {
    height: 100px;
    display: flex;
    align-items: center;
    background-position: calc(100vw - 390px) -136px;
  }

  .footer__container {
    flex-direction: row;
    gap: 138px;
    padding: 0 40px;
    align-items: center;
  }

  .footer__wraper {
    display: flex;
    gap: 64px;
    align-items: center;
  }

  .footer__nav {
    flex-direction: row;
    gap: 40px;
  }

  .footer__logo,
  .footer__nav,
  .footer__social {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .footer__container {
    width: 100%;
    padding: 0 165px;
    gap: 0;
    justify-content: space-between;
  }
}
