.header {
  background-color: #edf3f8;
  height: 110px;
  display: flex;
  align-items: flex-start;  /* pradžia viršuje */
  padding-top: 40.76px;     /* atstumas nuo viršaus */
}

.logo-wrapper {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  width: 100%;                    
  padding: 0 24px;                
}


.payAPI_logo {
  width: 135px;
  height: 36px;
}

.menu_logo {
  width: 28px;
  height: 17px;
}

/* --- Slide-out meniu --- */
.side-menu {
  position: fixed;       
  top: 0;
  right: -250px;         
  width: 250px;
  height: 100%;
  background-color: #36536B;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  gap: 20px;
  transition: right 0.3s ease;
  align-items: center;
}

.side-menu a {
  font-family: 'Public Sans', sans-serif;
  color: #FBFCFE;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  opacity: 70%;
  line-height: 24px;
  letter-spacing: 0px;
}
.side-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.side-menu button {
  background-color: white;
  color: #36536B;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

/* atidarytas meniu */
.side-menu.open {
  right: 0;
}

