/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Footer import */
@import url("footer.css");

/*Font import*/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.section__icon {
  align-content: center;
}
.section__header {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  size: 18px;
  color: #36536b;
  text-align: center;
  letter-spacing: -0.14px;
  opacity: 1;
  padding: 35px 23px 18px 24px;
}
   
.section__icon {
  margin: auto;
  width: 106px;
  height: 106px;
  opacity: 1;
}
.section__paragraph {
  font-family: "Public Sans", sans-serif;
  font-weight: 350;
  letter-spacing: -0.12px;
  text-align: center;
  color: #6c8294;
  opacity: 1;
  padding-bottom: 53px;
}
