/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Footer import */
@import url("footer.css");

/* partners section */

.partners {
  background-color: #1b262f;
  padding: 5rem 0;
}

.logos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  place-items: center;
  padding: 0 3rem;
}

.tesla-logo {
  height: 14px;
  width: 106px;
}

.microsoft-logo {
  height: 26px;
  width: 119px;
}

.hewlett-packard-logo {
  height: 22px;
  width: 115px;
}

.oracle-logo {
  height: 14px;
  width: 108px;
}

.google-logo {
  height: 27px;
  width: 79px;
}

.nvidia-logo {
  height: 21px;
  width: 113px;
}

.partners__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "DM Serif Display";
  color: #fbfcfe;
  padding: 0 1.5rem;
  margin-top: 3.5rem;
}

.partners__header {
  font-size: 2rem;
  letter-spacing: -0.25px;
  line-height: 40px;
}

.partners__description {
  display: flex;
  align-items: center;
  height: 132px;
  font-family: "Public Sans";
  font-size: 0.938rem;
  line-height: 28px;
  font-weight: 200;
  opacity: 70%;
  margin: 5px 0 4.25rem;
}

.partners__button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 129px;
  height: 48px;
  border: 1px solid #fbfcfe;
  border-radius: 100px;
  font-family: "Public Sans";
  font-size: 0.938rem;
  letter-spacing: -0.12px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.partners__button:hover {
  background-color: #fbfcfe;
  color: #1b262f;
}
