/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Footer import */
@import url("footer.css");

/* Hero styles */

.hero {
    background-color: #EDF3F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.text_start {
    font-size: 32px;
    height: 116px;
    font-family: 'DM Serif Display', serif;
    color: #36536B;
    margin: 27.27px 24px 13px;
    text-align: center;
    letter-spacing: -0.25px;
    line-height: 36px;
}

.hero {
    background-color: #EDF3F8;
}

.email__box {
    width: 327px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid rgba(54, 83, 107, 0.2);
    background-color: #FFFFFF;

    display: flex;
    align-items: center;
    padding-left: 27px;
    box-sizing: border-box;
    margin-bottom: 16px;
    opacity: 1;
    box-shadow: 0 10px 25px rgba(54, 83, 107, 0.25);
}

.email__box input {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    line-height: 17px;
    font-size: 15px;
    font-family: 'PublicSans-Bold', sans-serif;
    font-weight: bold;
    color: #36536B;
    opacity: 1;
    letter-spacing: 0px;
    
}


.email__button {

    left: 24px;
    width: 327px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: #BA4270;
    color: #FFFFFF;
    font-family: 'PublicSans-Bold', sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: -.12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.email__button span {
    width: 231px;
    height: 17px;
    text-align: center;
    letter-spacing: -.12px;
    font-family: 'PublicSans-Bold', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #FBFCFE;
    margin: 0 46px 0 50px;
}


.text__Anyquestions {
    letter-spacing: 0px;
    width: 225px;
    height: 17px;
    font-size: 15px;
    line-height: 17px;
    color: #6C8294;
    margin: 0 76px 80px 74px;
    font-family: 'PublicSans-regular', sans-serif;
    white-space: nowrap;
}

.contact__us {
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 17px;
    color: #6C8294;
    font-family: 'PublicSans-Bold', sans-serif;
    text-decoration: underline;
    opacity: 1;
    font-weight: bold;
}