/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Footer import */
@import url("footer.css");

/* ===== Easy UI section ===== */

.easy-ui {
  background-color: #edf3f8;
  padding-top: 80px;
}

.easy-ui__container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 23px;
  padding-right: 23px;
}

.easy-ui-snippet {
  display: block;
  width: 100%;
  margin-bottom: 47px;
  border-radius: 8px;
}

.easy-ui__title {
  font-family: 'DM Serif Display', serif;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.28px;
  text-align: center;
  color: #36536B;
  margin-bottom: 12px;
}

.easy-ui__text {
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6C8294;
  margin-bottom: 88px;
}


.easy-ui__phones {
  display: flex;
  justify-content: center;
}

.easy-ui__phones img {
  width: 100%;
  max-width: 328px;
  height: auto;
  margin-bottom: 61px;
}

.easy-ui__text2 {
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6C8294;
  margin-bottom: 88px;
}