/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Footer import */
@import url("footer.css");

/* Main section: Demo */

.demo {
    background-color: #EDF3F8;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.demo__title {
    font-size: 32px;
    font-family: "DM Serif Display", serif;
    color: #36536B;
    letter-spacing: -0.25px;
    text-align: center;
}

.demo__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.demo__email, .demo__button {
    width: 327px;
    height: 48px;
    border-radius: 24px;
} 

.demo__email {
    border: none;
    padding-left: 27px;
    box-shadow: 0 10px 25px rgba(54, 83, 107, 0.15);

    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    color: #36536B;
}

.demo__email:focus {
    outline: none;
}

.demo__email::placeholder {
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    opacity: 0.5;
}

.demo__button {
    background-color: #BA4270;
    color: #FBFCFE;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
}