/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*Header import */
@import url("header.css");

/* Demo section import */
@import url("demo-section.css");

/* Partners logo styling import */
@import url("partners-logos.css");

/* Footer import */
@import url("footer.css");

/* Mobile design 375px */

/* Top buble decoration starts here*/

.page-top {
  position: relative;
  background-color: #edf3f8;
  overflow: hidden;
  isolation: isolate;
}

.page-top::before {
  content: "";
  position: absolute;
  top: -550px;
  left: -202px;
  width: 780px;
  height: 780px;

  background: url("../assets/shared/desktop/bg-pattern-circle.svg") no-repeat;
  background-size: 780px 780px;

  pointer-events: none;
  z-index: -1;
}

.page-top .header,
.page-top .hero {
  background-color: transparent;
}

.header,
.hero {
  background-color: transparent;
}

/* Top buble decoration ends here*/

/* Hero section styles starts here*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_start {
  font-size: 32px;
  height: 116px;
  font-family: "DM Serif Display", serif;
  color: #36536b;
  margin: 27.27px 24px 13px;
  text-align: center;
  letter-spacing: -0.25px;
  line-height: 36px;
}

input::placeholder {
  color: #98a8b6;
  opacity: 1;
}

.email__box {
  width: 327px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid rgba(54, 83, 107, 0.2);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 27px;
  box-sizing: border-box;
  margin-bottom: 16px;
  opacity: 1;
  box-shadow: 0 10px 25px rgba(54, 83, 107, 0.25);
}

.email__box input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  line-height: 17px;
  font-size: 15px;
  font-family: "PublicSans-Bold", sans-serif;
  font-weight: bold;
  color: #36536b;
  opacity: 1;
  letter-spacing: 0px;
  cursor: pointer;
}

.email__button {
  left: 24px;
  width: 327px;
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: #ba4270;
  color: #ffffff;
  font-family: "PublicSans-Bold", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  letter-spacing: -0.12px;
  line-height: 17px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  box-shadow: 10px 10px 25px rgba(54, 83, 107, 0.25);
  transition: all 0.2s ease-in;
}

.email__button:hover,
.email__button:focus {
  background-color: #da6d97;
}

.email__button span {
  width: 231px;
  height: 17px;
  text-align: center;
  letter-spacing: -0.12px;
  font-family: "PublicSans-Bold", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fbfcfe;
  margin: 0 46px 0 50px;
}

.text__Anyquestions {
  letter-spacing: 0px;
  width: 225px;
  height: 17px;
  font-size: 15px;
  line-height: 17px;
  color: #6c8294;
  margin: 0 76px 80px 74px;
  font-family: "PublicSans-regular", sans-serif;
  white-space: nowrap;
}

.contact__us {
  letter-spacing: 0px;
  font-size: 15px;
  line-height: 17px;
  color: #6c8294;
  font-family: "PublicSans-Bold", sans-serif;
  text-decoration: underline;
  opacity: 1;
  font-weight: bold;
}

.hero__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__info form {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero section styles ends here*/

/* Partners section styles starts here*/

.partners {
  background: #1b262f url("../assets/shared/desktop/bg-pattern-circle.svg")
    no-repeat 50% -602px;
  padding: 5rem 0;
  place-items: center;
}

.partners__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "DM Serif Display";
  color: #fbfcfe;
  padding: 0 1.5rem;
  margin-top: 3.5rem;
}

.partners__header {
  font-size: 2rem;
  letter-spacing: -0.25px;
  line-height: 44px;
}

.partners__description {
  display: flex;
  align-items: center;
  height: 132px;
  font-family: "Public Sans";
  font-size: 0.938rem;
  line-height: 28px;
  font-weight: 200;
  opacity: 70%;
  margin: 5px 0 4.25rem;
}

.partners__button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 129px;
  height: 48px;
  border: 1px solid #fbfcfe;
  border-radius: 100px;
  font-family: "Public Sans";
  font-size: 0.938rem;
  letter-spacing: -0.12px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.partners__button:hover {
  background-color: #fbfcfe;
  color: #1b262f;
}

/* Partners section styles ends here*/

/* Easy-ui section styles starts here */

.easy-ui {
  background-color: #edf3f8;
  padding-top: 80px;
}

.easy-ui__container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 23px;
  padding-right: 23px;
}

.easy-ui-snippet {
  display: block;
  width: 100%;
  margin-bottom: 47px;
  border-radius: 8px;
}

.easy-ui__title {
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.28px;
  text-align: center;
  color: #36536b;
  margin-bottom: 12px;
  height: 49px;
}

.easy-ui__text {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6c8294;
  margin-bottom: 95px;
  height: 104px;
}

.easy-ui__phones {
  display: flex;
  justify-content: center;
}

.easy-ui__phones img {
  width: 100%;
  max-width: 328px;
  height: auto;
  margin-bottom: 61px;
}

.easy-ui__text2 {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6c8294;
  padding-bottom: 88px;
  height: 76px;
}

/* Easy-ui section styles ends here */

/* Services section styles starts here */

.services__header {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #36536b;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.14px;
  opacity: 1;
  padding-top: 34px;
  padding-bottom: 14px;
}

.services__icon {
  margin: auto;
  width: 106px;
  height: 106px;
  opacity: 1;
  align-content: center;
}

.services__paragraph {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #6c8294;
  opacity: 1;
  padding-bottom: 53px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf3f8;
  padding-top: 73px;
  padding-bottom: 35px;
  padding-left: 24px;
  padding-right: 23px;
}

/* Services section styles starts here */

/* Mobile design ends here */

/* Tablet design starts here */

@media (min-width: 768px) {
  /* Top buble decoration starts here*/

  .page-top::before {
    top: -663px;
    left: -91px;
    width: 949px;
    height: 949px;

    background-size: 949px 949px;
  }

  /* Top buble decoration ends here*/

  /* Tablet hero section starts here */

  .hero {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero .hero-phone {
    width: 155px;
    height: 299px;
    display: block;
  }

  .text_start {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
    width: 573px;
    min-height: 122px;
    height: auto;
    margin: 54px 0 16px;
    text-align: center;
  }

  .hero form {
    display: flex;
    align-items: stretch;
    width: 445px;
    height: 48px;
    min-height: 48px;
  }

  .email__box {
    width: 272px;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 27px;
    border-radius: 24px;
    background-color: #ffffff;
    border: 1px solid rgba(54, 83, 107, 0.2);
    box-shadow: 0 10px 25px rgba(54, 83, 107, 0.25);
  }

  .email__button {
    width: 173px;
    height: 48px;
    margin-left: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 24px;
    background-color: #ba4270;
    cursor: pointer;
    padding: 0;
    line-height: normal;
  }

  .email__button span {
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #fbfcfe;
    line-height: 17px;
    margin: 0;
  }

  .text__Anyquestions {
    margin-top: 16px;
    width: auto;
    text-align: center;
    margin-bottom: 100px;
  }

  .hero__info form {
    width: 445px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  /* Tablet hero section ends here */

  /* Tablet services sections starts here */

  .services {
    display: flex;
    flex-direction: row;
    padding-top: 108px;
    background-color: #edf3f8;
    padding-left: 39px;
    padding-right: 38px;
    padding-bottom: 111px;
    justify-content: center;
    align-items: flex-start;
  }

  .services__icon {
    margin: auto;
    width: 88px;
    height: 88px;
    opacity: 1;
    align-content: center;
  }

  .services__coverage {
    margin-left: 9px;
    margin-right: 7px;
    width: 225px;
    height: 281px;
  }

  .services__banking {
    width: 223px;
    height: 306px;
  }

  .services__payment {
    width: 227px;
    height: 306px;
  }

  .services__paragraph {
    margin: 0 auto;
    width: 100%;
    letter-spacing: -0.38px;
    font-size: 15px;
    line-height: 1.5;
  }

  /* Tablet services sections ends here */

  /* Easy-ui sections starts here */

  .easy-ui {
    padding-top: 100px;
  }

  .easy-ui__container {
    max-width: 768px;
  }

  .easy-ui__codeblock {
    width: 392px;
    height: 250px;
    margin: 0 auto;
  }

  .easy-ui-snippet {
    margin: 0;
  }

  .easy-ui__title {
    margin-top: 54px;
    margin-bottom: 8px;
    height: 66px;
    line-height: 56px;
    font-size: 48px;
  }

  .easy-ui__text,
  .easy-ui__text2 {
    width: 573px;
    height: 48px;
    margin: 0 auto;
  }

  .easy-ui__phones {
    margin: 0 auto;
    margin-top: 108px;
    overflow: hidden;
  }

  .easy-ui__phones,
  .easy-ui__phones img {
    width: 362px;
    height: 320px;
  }

  .easy-ui__phones img {
    max-width: none;
    margin: 0;
  }

  .easy-ui__text2 {
    padding-bottom: 0px;
    line-height: 28px;
  }

  /* Easy-ui section ends here */

  /* Partners section starts here */

  .partners {
    background-position: 50% -548px;
    padding: 5rem 0;
    place-items: center;
    padding-bottom: 88px;
    padding-top: 88px;
  }

  .partners__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "DM Serif Display";
    color: #fbfcfe;
    padding: 0 1.5rem;
  }

  .partners__header {
    font-size: 48px;
    letter-spacing: -0.37px;
    line-height: 66px;
    margin-bottom: 8px;
  }

  .partners__description {
    max-width: 456px;
    margin: 0 auto 40px;
    font-size: 15px;
    text-align: center;
    line-height: 28px;
    color: #fbfcfe;
    opacity: 0.7;
    height: 104px;
  }

  .partners__button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 129px;
    height: 48px;
    border: 1px solid #fbfcfe;
    border-radius: 24px;
    font-family: "Public Sans";
    font-size: 0.938rem;
    letter-spacing: -0.12px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }

  .partners__button:hover {
    background-color: #fbfcfe;
    color: #1b262f;
  }

  /* Partners section ends here */
}

/* Tablet design ends here */

/* Desktop design starts here */

@media (min-width: 1440px) {
  /* Top buble decoration starts here*/

  .page-top::before {
    top: -172px;
    left: 800px;
    width: 780px;
    height: 780px;

    background-size: 780px 780px;
  }

  /* Top buble decoration ends here*/

  /* Hero design starts here */

  .hero {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 208px;
    padding: 0;
  }

  .hero .hero-phone {
    width: 257px;
    height: 498px;
  }

  .hero__box {
    margin-bottom: 74px;
  }

  .hero__info {
    width: 546px;
    height: 348px;
  }

  .text_start {
    text-align: left;
    font-size: 72px;
    letter-spacing: -0.55px;
    line-height: 76px;
    width: 546px;
    height: 243px;
    margin: 0 0 24px 0;
  }

  .hero form {
    width: 546px;
    justify-content: flex-start;
  }

  .email__box {
    width: 272px;
    height: 48px;
    flex: 0 0 272px;
  }

  .email__box input {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .email__button {
    width: 173px;
    height: 48px;
    margin: 0;
    margin-left: -35px;
    flex: 0 0 173px;
  }

  .email__button:hover {
    background-color: #da6d97;
  }

  .text__Anyquestions {
    margin: 16px 0 0 0;
    text-align: left;
    padding-left: 27px;
    width: 546px;
    justify-content: flex-start;
  }

  /* Hero design ends here */

  .partners {
    background-position: -235px -359px;
  }

  /* Easy-ui design starts here */

  .easy-ui {
    padding-top: 150px;
  }

  .easy-ui__container {
    min-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 150px;
  }

  .easy-ui__item1,
  .easy-ui__item2 {
    display: flex;
  }

  .easy-ui__item1 {
    flex-direction: row;
    gap: 125px;
  }

  .easy-ui__item2 {
    flex-direction: row-reverse;
    gap: 97px;
  }

  .easy-ui__codeblock {
    width: 445px;
    height: 284px;
    margin: 0;
    margin-left: 165px;
  }

  .easy-ui-snippet {
    width: 100%;
    height: 100%;
  }

  .easy-ui__content {
    width: 445px;
  }

  .easy-ui__title {
    letter-spacing: -0.37px;
  }

  .easy-ui__title,
  .easy-ui__text {
    width: 100%;
    text-align: left;
  }

  .easy-ui__item1 .easy-ui__title {
    margin-top: 66px;
    margin-bottom: 8px;
  }

  .easy-ui__item2 .easy-ui__title {
    margin-top: 188px;
    margin-bottom: 8px;
  }

  .easy-ui__text {
    height: 76px;
  }

  .easy-ui__phones {
    width: 560px;
    height: 498px;
    margin: 0 171px 0 0;
  }

  .easy-ui__phones img {
    width: 100%;
    height: 100%;
  }
}
