/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Footer import */
@import url("footer.css");

/* Hero styles */

.hero {
    background-color: #EDF3F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.text_start {
    font-size: 32px;
    font-family: 'DM Serif Display', serif;
    color: #36536B;
    margin: 27.27px 24px 13px;
    text-align: center;
    letter-spacing: -0.25px;
    line-height: 36px;
}

.hero {
    position: relative;
    /* Needed for absolute positioning inside */
    background-color: #EDF3F8;
}

.email__box {
    
    left: 24px;

    width: 327px;
    height: 48px;

    border-radius: 24px;
    opacity: 1; 
    border: 1px solid #36536B33;

    display: flex;
    align-items: center;
    padding: 0 16px;
    
    box-sizing: border-box;
    margin-bottom: 16px;

    background-color: #FFFFFF; /* <-- makes the box white */
}

.email__box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    line-height: 17px;
    font-size: 17px;
    font-family: 'PublicSans-Bold', sans-serif;
    color: #36536B;  
    background: transparent; /
}

.email__box input::placeholder {
    color: #9AA6B2; 
    opacity: 1;      
}

.email__button {
  
    left: 24px;

    width: 327px;
    height: 48px;

    border-radius: 24px;
    border: none;

    background-color: #BA4270; 
    color: #FFFFFF;
    font-family: 'PublicSans-Bold', sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: -.12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    transition: background 0.2s ease;
}

.email__button:hover {
    background-color: #2E4A5C; /* slightly darker on hover */
}

.text__Anyquestions {
    letter-spacing: 0px;
    width: 225px;
    height: 17px;
    font-size: 15px;
    line-height: 17px;
    color:#6C8294;
    margin: 0 76px 80px 74px;
    font-family: 'PublicSans-regular', sans-serif;
    white-space: nowrap;
}

 .contact__us {
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 17px;
    color:#6C8294;
    font-family: 'PublicSans-Bold', sans-serif;
    text-decoration: underline;
    opacity: 1;
    font-weight: bold;
}