/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Footer import */
@import url("footer.css");

/*Header*/

.header {
    background-color: #edf3f8;
    height: 110px;
    display: flex;
    align-items: flex-start;
    /* pradžia viršuje */
    padding-top: 40.76px;
    /* atstumas nuo viršaus */
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
}


.payAPI_logo {
    width: 135px;
    height: 36px;
}

.menu_logo {
    width: 28px;
    height: 17px;
}

/* --- Slide-out menu --- */
.side-menu {
    position: fixed;
    top: 0;
    right: -300px;
    /* menu hidden by default */
    width: 300px;
    height: 100%;
    background-color: #1b262f;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
    padding: 0;
    z-index: 1000;
}

.side-menu.open {
    right: 0;
}

/* Close button */
.close-menu {
    position: absolute;
    top: 49px;
    right: 24px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 1100;
}

/* Divider */
.menu-divider {
    position: absolute;
    top: 95px;
    left: 24px;
    width: 252px;
    height: 1px;
    background: #FBFCFE;
    opacity: 0.15;
}

.side-menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 95px;
    
    position: relative;
}

.pricing-link {
  font-family: 'Public Sans', sans-serif;  
  font-size: 20px;                         
  font-weight: bold;                        
  color: #FBFCFE;                           
  line-height: 24px;                        
  letter-spacing: 0px;                      
  text-decoration: none;                    
  margin-top: 43px;                         
  opacity: 0.7;
}


.side-menu-links a+a {
    margin-top: 32px;
   
}

.menu_email__button {
    margin-top: 32px;
    width: 252px;
    height: 48px;
    border-radius: 24px;
    background-color: #ba4270;
    color: #ffffff;
    border: none;
    font-family: "PublicSans-Bold", sans-serif;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.menu_email__button span {
    width: 100%;
    text-align: center;
    letter-spacing: -0.12px;
    font-weight: bold;
    color: #fbfcfe;
}

/* Pricing section */

.pricing__container {
  display: flex;
  flex-direction: column;
  background: #edf3f8 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-left: 24px;
  padding-right: 24px;
}

.pricing__header {
  display: flex;
  justify-content: center;
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  color: #36536b;
  padding-top: 19px;
  padding-bottom: 44px;
  letter-spacing: -0.25px;
  opacity: 1;
}

.plan__header {
  display: flex;
  justify-content: center;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ba4270;
  padding-bottom: 9px;
  letter-spacing: -0.18px;
  opacity: 1;
}

.pricing__paragraph {
  display: flex;
  text-align: center;
  font-family: "PublicSans-Thin_Medium", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0px;
  opacity: 1;
  color: #6c8294;
  padding-bottom: 30px;
}

.pricing__tag {
  display: flex;
  justify-content: center;
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  font-weight: 400;
  color: #36536b;
  line-height: 72px;
  letter-spacing: -0.43px;
  opacity: 1;
  padding-bottom: 5px;
}
hr {
  height: 1px;
  background: #36536b 0% 0% no-repeat padding-box;
  opacity: 0.25;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 31px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feature-item {
  display: flex;
  align-items: center;
  color: #36536b;
  font-family: "PublicSans-Thin_Medium", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.column-icon {
  width: 8px;
  margin-right: 24px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.column-text {
  flex: 1;
  text-align: left;
}

.checkmark {
  width: 8px;
  height: 4px;
  border-left: 2px solid #ba4270;
  border-bottom: 2px solid #ba4270;
  transform: rotate(-45deg);
  margin-top: -2px;
}

.inactive {
  opacity: 0.5;
}

.button__access-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 83px;
}

.button__access {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #36536b;
  line-height: 17px;
  letter-spacing: -0.12px;
  text-decoration: none;
  transition: all 0.2s ease;

  border: 1px solid #36536b;
  border-radius: 24px;
  background: transparent;
  cursor: pointer;

  width: 168px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__access:hover {
  background-color: #36536b;
  color: #ffffff;
}

/* Main section: Demo */

.demo {
    background-color: #edf3f8;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.demo__title {
    font-size: 32px;
    font-family: "DM Serif Display", serif;
    color: #36536b;
    letter-spacing: -0.25px;
    text-align: center;
    margin-bottom: 21px;
    height: 44px;
}

.demo__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.demo__email,
.demo__button {
    width: 327px;
    height: 48px;
    border-radius: 24px;
}

.demo__email {
    border: none;
    padding-left: 27px;
    box-shadow: 0 10px 25px rgba(54, 83, 107, 0.25);

    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    color: #36536b;
}

.demo__email:focus {
    outline: none;
}

.demo__email::placeholder {
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    opacity: 0.5;
}

.demo__button {
    background-color: #BA4270;
    color: #fbfcfe;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.section__icon {
  align-content: center;
}
.section__header {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  size: 18px;
  color: #36536b;
  text-align: center;
  letter-spacing: -0.14px;
  opacity: 1;
  padding: 35px 23px 18px 24px;
}

.section__icon {
  margin: auto;
  width: 106px;
  height: 106px;
  opacity: 1;
}
.section__paragraph {
  font-family: "Public Sans", sans-serif;
  font-weight: 350;
  letter-spacing: -0.12px;
  text-align: center;
  color: #6c8294;
  opacity: 1;
  padding-bottom: 53px;
  padding-left: 23px;
  padding-right: 24px;
}

.section{
background-color: #edf3f8;
padding-top: 88px;
padding-bottom: 35px;

}
