/* Tablet design: 768px */

@media (min-width: 768px) {

    /* Tablet demo section css */
    
  .demo {
    padding-bottom: 100px;
    gap: 24px;
  }

  .demo__title {
    font-size: 48px;
    letter-spacing: -0.37px;
    width: 445px;
    height: 66px;
    margin: 0 auto;
  }

  .demo__form {
    position: relative;
    width: 445px;
    margin-inline: auto; /* works the same way as margin: 0 auto */
    display: block;
  }

  .demo__email {
    width: 100%;
    height: 48px;
    padding-left: 27px;
    padding-right: 190px;
  }

  .demo__button {
    position: absolute;
    right: 0;
    width: 173px;
    height: 48px;
  }

  /* Tablet demo sectio css ends here */
}