/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*Header import */
@import url("header.css");

/* Demo section import */
@import url("demo-section.css");

/* Footer import */
@import url("footer.css");

/* Mobile design 375px */

/* Top buble decorations starts here */

.page-top {
  position: relative;
  background-color: #edf3f8;
  overflow: hidden;
  isolation: isolate;
}

.page-top::before {
  content: "";
  position: absolute;
  top: -644px;
  left: 74px;
  width: 780px;
  height: 780px;

  background: url("../assets/shared/desktop/bg-pattern-circle.svg") no-repeat;
  background-size: 780px 780px;

  pointer-events: none;
  z-index: -1;
}

.page-top .header,
.page-top .main {
  background-color: transparent;
}

.header,
.main {
  background-color: transparent;
}

/* Top buble decorations ends here */


/* Pricing section */

.pricing {
  display: flex;
  flex-direction: column;
  opacity: 1;
  padding-left: 24px;
  padding-right: 24px;
}

.pricing__header {
  display: flex;
  justify-content: center;
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  color: #36536b;
  padding-top: 20px;
  padding-bottom: 50px;
  letter-spacing: -0.25px;
  opacity: 1;
}

.plan__header {
  display: flex;
  justify-content: center;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ba4270;
  padding-bottom: 9px;
  letter-spacing: -0.18px;
  opacity: 1;
}

.pricing__paragraph {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "PublicSans-Thin_Medium", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.4px;
  opacity: 1;
  color: #6c8294;
  padding-bottom: 28px;
}

.pricing__tag {
  display: flex;
  justify-content: center;
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  font-weight: 400;
  color: #36536b;
  line-height: 72px;
  letter-spacing: -0.43px;
  opacity: 1;
  padding-bottom: 5px;
}
hr {
  height: 1px;
  background: #36536b 0% 0% no-repeat padding-box;
  opacity: 0.25;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 31px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feature-item {
  display: flex;
  align-items: center;
  color: #36536b;
  font-family: "PublicSans-Thin_Medium", sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.column-text {
  flex: 1;
  text-align: left;
  padding-left: 24px;
}

.inactive {
  opacity: 0.5;
  padding-left: 12px;
}

.button__access-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 80px;
}

.button__access {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #36536b;
  line-height: 17px;
  letter-spacing: -0.12px;
  
  transition: all 0.2s ease;

  border: 1px solid #36536b;
  border-radius: 24px;
  background: transparent;
  cursor: pointer;

  width: 168px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__access:hover {
  background-color: #36536b;
  color: #ffffff;
}



/* Pricing sections ends here */

/* Mobile design ends here */

/* Tablet design starts here */

/* Pricing sections starts here */

@media screen and (min-width: 768px) {
  .pricing {
    padding-left: 39px;
    padding-right: 40px;
  }

  .pricing__plans-wrapper {
    display: flex;
    
    gap: 10px;
    
  }
  .pricing__header {
    padding-bottom: 57px;
    letter-spacing: -0.37px;
    line-height: 56px;
    font-size: 48px;
  }
  .plan__header {
    line-height: 40px;
    padding-bottom: 16px;
  }
.pricing__tag{
  font-size: 48px;
  letter-spacing: -0.37px;
  padding-bottom: 24px;
}
.feature-item{
  line-height: 28px;
}
.button__access-wrapper{
  padding-bottom: 106px;
}
}

/* Pricing sections ends here */