/* Reset css import */
@import url("reset.css");

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Footer import */
@import url("footer.css");

/*Header import */
@import url("header.css");

/* Pricing section */

.pricing__container {
  display: flex;
  flex-direction: column;
  background: #edf3f8 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-left: 24px;
  padding-right: 24px;
}

.pricing__header {
  display: flex;
  justify-content: center;
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  color: #36536b;
  padding-top: 19px;
  padding-bottom: 44px;
  letter-spacing: -0.25px;
  opacity: 1;
}

.plan__header {
  display: flex;
  justify-content: center;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ba4270;
  padding-bottom: 9px;
  letter-spacing: -0.18px;
  opacity: 1;
}

.pricing__paragraph {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "PublicSans-Thin_Medium", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0px;
  opacity: 1;
  color: #6c8294;
  padding-bottom: 30px;
}

.pricing__tag {
  display: flex;
  justify-content: center;
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  font-weight: 400;
  color: #36536b;
  line-height: 72px;
  letter-spacing: -0.43px;
  opacity: 1;
  padding-bottom: 5px;
}
hr {
  height: 1px;
  background: #36536b 0% 0% no-repeat padding-box;
  opacity: 0.25;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 31px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feature-item {
  display: flex;
  align-items: center;
  color: #36536b;
  font-family: "PublicSans-Thin_Medium", sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.column-text {
  flex: 1;
  text-align: left;
  padding-left: 24px;
}

.inactive {
  opacity: 0.5;
  padding-left: 12px;
}

.button__access-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 55px;
}

.button__access {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #36536b;
  line-height: 17px;
  letter-spacing: -0.12px;
  text-decoration: none;
  transition: all 0.2s ease;

  border: 1px solid #36536b;
  border-radius: 24px;
  background: transparent;
  cursor: pointer;

  width: 168px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__access:hover {
  background-color: #36536b;
  color: #ffffff;
}

/* Main section: Demo */

.demo {
  background-color: #edf3f8;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 80px;
}

.demo__title {
  font-size: 32px;
  font-family: "DM Serif Display", serif;
  color: #36536b;
  letter-spacing: -0.25px;
  text-align: center;
  margin-bottom: 21px;
  height: 44px;
}

.demo__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.demo__email,
.demo__button {
  width: 327px;
  height: 48px;
  border-radius: 24px;
}

.demo__email {
  border: none;
  padding-left: 27px;
  box-shadow: 0 10px 25px rgba(54, 83, 107, 0.25);

  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: #36536b;
}

.demo__email:focus {
  outline: none;
}

.demo__email::placeholder {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  opacity: 0.5;
}

.demo__button {
  background-color: #ba4270;
  color: #fbfcfe;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.section__icon {
  align-content: center;
}
.section__header {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  size: 18px;
  color: #36536b;
  text-align: center;
  letter-spacing: -0.14px;
  opacity: 1;
  padding: 35px 23px 18px 24px;
}

.section__icon {
  margin: auto;
  width: 106px;
  height: 106px;
  opacity: 1;
}
.section__paragraph {
  font-family: "Public Sans", sans-serif;
  font-weight: 350;
  letter-spacing: -0.12px;
  text-align: center;
  color: #6c8294;
  opacity: 1;
  padding-bottom: 53px;
  padding-left: 23px;
  padding-right: 24px;
}

.section {
  background-color: #edf3f8;
  padding-top: 88px;
  padding-bottom: 35px;
}
/* Tablet design: 768px */

@media (min-width: 768px) {
  /* Tablet demo section css */

  .demo {
    padding-bottom: 100px;
    gap: 24px;
  }

  .demo__title {
    font-size: 48px;
    letter-spacing: -0.37px;
    width: 445px;
    height: 66px;
    margin: 0 auto;
  }

  .demo__form {
    position: relative;
    width: 445px;
    margin-inline: auto; /* works the same way as margin: 0 auto */
    display: block;
  }

  .demo__email {
    width: 100%;
    height: 48px;
    padding-left: 27px;
    padding-right: 190px;
  }

  .demo__button {
    position: absolute;
    right: 0;
    width: 173px;
    height: 48px;
  }

  /* Tablet demo sectio css ends here */
}
